.prodcard {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.prodcard:hover {
    transform: scale(1.05);
}

.title {
    background-color: yellow;
    text-align: center;
}

.desc {
    background-color: beige;
    text-align: justify;
}

.brand {
    background-color: chocolate;
    text-align: right;
    color: white;
}