asgiref==3.8.1
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.8.0
Django==5.1.6
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.15.2
djangorestframework-dataclasses==1.3.1
dnspython==2.7.0
dotenv==0.9.9
idna==3.10
mongoengine==0.29.1
parameterized==0.9.0
pymongo==4.11.1
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
