
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Categories to Choose From</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/categoryList.css' %}" />
  </head>
  <body>
    <section class="category-section">
      <h1 class="category-heading">Top Categories to Choose From</h1>
      <div id="product-container"></div>
    </section>

    {% load static %}
    <script src="{% static 'js/category.js' %}"></script>
  </body>
</html>
