// App.scss

// Variables
$primary-color: #240b36; // A deep purple
$secondary-color: #ff7f50; // Coral
$app-background-color: #f0f0f5; // Very light gray
$app-link-color: #007bff; // Standard blue

// // Mixin for the logo animation
// @mixin app-logo-spin {
//   animation: App-logo-spin infinite 20s linear;
// }

// App Styles
